.mat-toolbar{
    position: fixed;
    height: 100px;
    overflow: auto;
  }
  
  .mat-button {
    padding: 15px 15px;
  }
  
  .mat-button, .mat-icon-button {
    height: 70px;
    font-size: larger;
  }
  